html,
body
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif
  overflow: hidden
  font-size: 13px

.container
  absPos(top: 0, right: 0, bottom: 0, left: 0)
  overflow: hidden

.search-bar
  padding: 10px
  text-align: center
  input
    font-size: 18px

.results
  width: 300px
  list-style-type: none
  margin: 0px auto

.search-result
  position: relative
  height: 30px
  border-bottom: 1px solid rgb(100,100,100)
  line-height: 30px

.active-check
  absPos(top: 50%, right: 10px)
  margin-top: -5px